body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  font-size: 2em;
}

li {
  list-style: none;
  display: inline-grid;
}

ul {
  border: 0px;
}

button.jobActions {
  cursor: pointer;
  list-style: none;
  border: 0px;
  border-radius: .2em;
  width: auto;
  height: 100px;
  margin: 2em;
  padding: 2em;
  display: inline-grid;
  background-color: lightcoral;
}

li.jobActions {
  list-style: none;
  border-radius: .2em;
  width: auto;
  height: 100px;
  margin: 2em;
  padding: 2em;
  display: inline-grid;
  background-color: lightcoral;
}

.Main-body {
  margin:auto;
  max-width: 800px;
}
